* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  font-family: sans-serif;
  font-size: 100px;
}
em,
i {
  font-style: normal;
}
.linebar {
  position: relative;
}
.linebar .maskbar {
  width: 0;
}
.linebar:after {
  position: absolute;
  z-index: 1;
  content: ' ';
  display: block;
  box-sizing: border-box;
  width: 0.2rem;
  height: 0.2rem;
  border: 5px solid rgba(240, 240, 240, 0.7);
  border-radius: 50% 50%;
  overflow: hidden;
  background-color: #CF9;
  border: .03rem solid #9C3;
  margin-top: -0.05rem;
  margin-left: 0;
  transition: all 1s;
}
.fullpage {
  will-change: top;
  width: 100%;
  font-size: 18px;
}
.fullpage .time {
  font-size: 16px;
}
.fullpage p {
  font-size: 16px;
}
.fullpage .title {
  font-size: 36px;
}
.fullpage .myinfo {
  font-size: 20px;
}
.fullpage .company {
  font-size: 18px;
}
.page1 {
  overflow: hidden;
  background-color: #4dd0e1;
}
.page2 {
  overflow: hidden;
  background-color: #22c3aa;
}
.page3 {
  overflow: hidden;
  background-color: #fb6d7e;
}
.page4 {
  overflow: hidden;
  background-color: #4dd0e1;
}
.page5 {
  overflow: hidden;
  background-color: #DA70D6;
}
.title {
  color: #FFF;
  text-shadow: 0rem .04rem .04rem #505252;
  font-weight: normal;
  margin-bottom: 0.15rem;
}
.active .skills .skill-list span.HTML .maskbar {
  width: 89%;
}
.active .skills .skill-list span.HTML:after {
  margin-left: 87%;
}
.active .skills .skill-list span.CSS .maskbar {
  width: 85%;
}
.active .skills .skill-list span.CSS:after {
  margin-left: 83%;
}
.active .skills .skill-list span.JS .maskbar {
  width: 94%;
}
.active .skills .skill-list span.JS:after {
  margin-left: 92%;
}
.active .skills .skill-list span.JQ .maskbar {
  width: 82%;
}
.active .skills .skill-list span.JQ:after {
  margin-left: 80%;
}
.active .skills .skill-list span.ES .maskbar {
  width: 75%;
}
.active .skills .skill-list span.ES:after {
  margin-left: 73%;
}
.active .skills .skill-list span.LESS .maskbar {
  width: 77%;
}
.active .skills .skill-list span.LESS:after {
  margin-left: 75%;
}
.active .skills .skill-list span.WG .maskbar {
  width: 67%;
}
.active .skills .skill-list span.WG:after {
  margin-left: 65%;
}
.active .works .workinfo {
  -webkit-animation: upfade linear .7s forwards;
  animation: upfade linear .7s forwards;
}
.active .works .workinfo:last-child {
  -webkit-animation: upfade linear .8s forwards .5s;
  animation: upfade linear .8s forwards .5s;
}
.githubicon {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: url(../img/giticon.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0.04rem;
  left: 50%;
  margin-left: -0.2rem;
  cursor: pointer;
}
.container {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.14rem;
}
.container .imgs {
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  border: 5px solid rgba(240, 240, 240, 0.7);
  border-radius: 50% 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: .15rem;
  box-shadow: 0 0.06rem 0.22rem 0 rgba(0, 0, 0, 0.1), 0 0.16rem 3rem 0 rgba(0, 0, 0, 0.3);
}
.container .imgs img {
  width: 100%;
  height: 100%;
}
.container .myinfo {
  color: #FFF;
  margin-bottom: 0.15rem;
}
.container .about {
  color: #bcf1f8;
}
.page2 {
  display: table;
}
.skills {
  text-align: center;
  color: #FFF;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}
.skills .skill-list {
  max-width: 8rem;
  text-align: left;
  padding: 0 0.24rem 0 0.12rem;
  margin: 0 auto;
}
.skills .skill-list span {
  display: inline-block;
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
  border-radius: 5px;
  transition: all 1s;
}
.skills .skill-list .maskbar {
  position: absolute;
  background-color: skyblue;
}
.skills .skill-list .HTML,
.skills .skill-list .CSS,
.skills .skill-list .JS,
.skills .skill-list .JQ,
.skills .skill-list .ES,
.skills .skill-list .LESS,
.skills .skill-list .WG {
  position: relative;
}
.skills .skill-list .HTML .maskbar,
.skills .skill-list .CSS .maskbar,
.skills .skill-list .JS .maskbar,
.skills .skill-list .JQ .maskbar,
.skills .skill-list .ES .maskbar,
.skills .skill-list .LESS .maskbar,
.skills .skill-list .WG .maskbar {
  width: 0;
}
.skills .skill-list .HTML:after,
.skills .skill-list .CSS:after,
.skills .skill-list .JS:after,
.skills .skill-list .JQ:after,
.skills .skill-list .ES:after,
.skills .skill-list .LESS:after,
.skills .skill-list .WG:after {
  position: absolute;
  z-index: 1;
  content: ' ';
  display: block;
  box-sizing: border-box;
  width: 0.2rem;
  height: 0.2rem;
  border: 5px solid rgba(240, 240, 240, 0.7);
  border-radius: 50% 50%;
  overflow: hidden;
  background-color: #CF9;
  border: .03rem solid #9C3;
  margin-top: -0.05rem;
  margin-left: 0;
  transition: all 1s;
}
.page3 {
  display: flex;
  align-items: center;
}
.works {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}
.works .title {
  margin-bottom: 0.4rem;
}
.works .worktimes {
  position: relative;
  max-width: 8rem;
  margin: 0 auto;
  padding: 0 0.24rem 0 0.12rem;
}
.works .worktimes .timeline {
  position: absolute;
  width: 0.66rem;
  height: 100%;
  border-right: 2px solid #fff;
}
.works .worktimes .workinfo {
  width: 100%;
  position: relative;
  text-align: start;
  margin-bottom: 0.2rem;
  transition: all .5s;
  top: -1rem;
  opacity: 0;
}
.works .worktimes .workinfo .time {
  display: inline-block;
  float: left;
  margin-right: 0.1rem;
  padding: 0.1rem 0;
  color: #FFF;
}
.works .worktimes .workinfo .time i {
  display: inline-block;
  margin-left: 0.06rem;
  box-sizing: border-box;
  width: 0.12rem;
  height: 0.12rem;
  border: 5px solid rgba(240, 240, 240, 0.7);
  border-radius: 50% 50%;
  overflow: hidden;
  background-color: white;
}
.works .worktimes .workinfo .workdes {
  padding: 0.1rem;
  background-color: #FF3E96;
  overflow: hidden;
  border-radius: 5px;
}
.works .worktimes .workinfo .workdes .company {
  color: #FFF;
  padding-bottom: .06rem;
}
.works .worktimes .workinfo .workdes p {
  text-indent: 2em;
  display: inline-block;
  color: #FFF;
  line-height: 0.24rem;
}
.page4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.page4 .title {
  flex: 1;
  padding-top: 10%;
}
.programs {
  flex: 8;
  text-align: center;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.programs .pgitem {
  margin: 0 0.1rem;
  display: inline-block;
  vertical-align: top;
}
.programs .pgitem .pgtitle {
  box-sizing: border-box;
  width: 2.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  border: .02rem solid #fff;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
}
.programs .pgitem .description {
  position: relative;
  box-sizing: border-box;
  width: 2.2rem;
  border: .02rem solid #fff;
  border-top: none;
  border-bottom: none;
  color: #FFF;
  padding: 0 0.1rem;
  text-align: left;
  text-indent: 2em;
  word-break: break-all;
  transition: all .6s;
  height: 0;
  overflow: hidden;
}
.programs .pgitem .description p {
  padding: .06rem 0;
}
.programs .pgitem .touchon {
  height: 2.4rem;
  padding-bottom: 0.44rem;
  border-bottom: .02rem solid #fff;
}
.findme {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.findme .infomation {
  width: 90%;
  margin: 0 auto;
  color: #939;
  font-weight: 600;
}
.findme .infomation a {
  color: #FFF;
}
.sidebar {
  text-align: right;
  height: 0;
  overflow: hidden;
}
.sidebar .rtbar {
  display: inline;
  position: fixed;
  z-index: 1;
  width: .2rem;
  height: 1.2rem;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  margin-left: -0.3rem;
}
.sidebar .rtbar li {
  display: inline-block;
  width: .12rem;
  height: .12rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.06rem 0;
  cursor: pointer;
}
.sidebar .rtbar .on {
  transform: scale(1.3);
  background-color: #ffffff;
}
@keyframes upfade {
  from {
    opacity: .2;
    top: -1rem;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .programs {
    justify-content: center;
  }
  .programs .pgitem {
    margin: 0 0.4rem;
  }
}
@media screen and (min-width: 768px) {
  .active .programs .pgitem .description {
    height: 2.8rem;
    border-bottom: .02rem solid #fff;
  }
}
@media screen and (max-width: 767px) {
  .programs {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .programs .pgitem .pgtitle {
    height: 0.5rem;
    line-height: 0.5rem;
  }
  .programs .item1:hover .description,
  .programs .item2:hover .description,
  .programs .item3:hover .description {
    height: 2.4rem;
    padding-bottom: 0.44rem;
    border-bottom: .02rem solid #fff;
  }
}
@media screen and (max-width: 480px) {
  .fullpage {
    font-size: 16px;
  }
  .fullpage p {
    font-size: 14px;
  }
  .fullpage .title {
    font-size: 30px;
  }
  .fullpage .myinfo {
    font-size: 18px;
  }
  .fullpage .company {
    font-size: 16px;
  }
  .works .title {
    margin-bottom: 0.1rem;
  }
}
@media screen and (max-width: 321px) {
  .programs .pgitem .pgtitle {
    height: 0.4rem;
    line-height: 0.4rem;
  }
}
@media screen and (max-height: 380px) {
  .skills .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills .skill-list h3 {
    display: inline-block;
    padding: 0.03rem;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0.04rem;
  }
  .skills .skill-list .HTML,
  .skills .skill-list .CSS,
  .skills .skill-list .JS,
  .skills .skill-list .JQ,
  .skills .skill-list .ES,
  .skills .skill-list .LESS,
  .skills .skill-list .WG {
    display: none;
  }
  .page4 .title {
    padding-top: 4%;
  }
  .programs {
    overflow: hidden;
    position: relative;
    width: auto;
    padding-right: 2.3rem;
  }
  .programs .pgtitle {
    display: inline-block;
  }
  .programs .outcon {
    display: inline-block;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  .programs .outcon .description {
    opacity: 0;
  }
  .programs .outcon .touchon {
    border-top: .02rem solid #fff;
    opacity: 1;
  }
}
